@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Fascinate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Fascinate&display=swap');
:root{
    --main-bg-color:brown;
    --font1: 'Fascinate', cursive;
    --font2: 'Baloo 2', cursive;
    --font3: 'Fascinate', cursive;
}
.max-width-1 {
    width: 80vw;
}

.max-width-2 {
    width: 60vw;
}
.m-auto{
    margin:auto;
}
.public-checkbox {
    background-color: #013243;
    color: white;
    display: inline-block;
    line-height: 2.2vw;
    width: 4.2vw;
    height: 2.5vw;
    cursor: pointer;
    border-radius:2px;
  
  
  }
  #blogtype {
      padding-left:7px;
    color: transparent;
    text-shadow: 0 0 0 #2196f3;

  }
