* {
    padding: 0;
    margin: 0;
}
.main_div_panel{
    display:flex;
    
}
.side_left_bar{
    background-color:bisque;
    width:20vw;
    height:80vw;
}
.side_right_bar{
    display:flex;
}
.total_no_of_users{
  height:15vw;
  width:15vw;
  background-color:#c7bccc;
  border-radius:50%;
  margin-top:3vw;
  margin-left:1.2vw;
}
.total_no_of_post{
    height:15vw;
    width:15vw;
    background-color:#c7bccc;
    border-radius:50%;
    margin-top:3vw;
    margin-left:1.2vw;
}
.total_no_of_pending_post{
    height:15vw;
    width:15vw;
    background-color:#c7bccc;
    border-radius:50%;
    margin-top:3vw;
    margin-left:1.2vw;
}
.admin_options{
   font-size:2vw;
   margin-top:3vw;
   margin-left:1.2vw;
   font-family: var(--font7);
   font-weight:bold;
}
#first{
    margin-top:6vw;
   
}
.admin_header{
    width:100%;
    height:10vw;
    background-color:#b6d5d9;
    color:black;
    font-family: var(--font7);
    font-weight:bold;
    font-size:3vw;
 
   

}